header,footer{
    background: #2c3e50;
    color: #fff;
}
.main{
    background: #f2f2f2;
}
.color1{
    background: #c0392b;
    color: #fff;
    /*padding-left: 2%;*/
    padding-bottom: 2%;
    /*margin-top: 2%;*/
}
article{
    float: right;
}
footer{
    height: 80px;
    font-size: 20px;
}